.hero {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradien warna biru */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}
